/**
 * Root
 */

html,
body {
  color: #333;
  font-family: 'Lato', helvetica, sans-serif;
  padding: 0;
  margin:0;
}

a {
  color: rgb(1, 103, 205);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: rgb(51, 153, 255);
}

h1,
h2,
h3,
h4 {
  font-family: 'Biryani', helvetica, sans-serif;
  margin-bottom: 0.5rem;
}

p {
  line-height: 1.5rem;
}

/**
 * Main
 */

.Main {
  padding: 15px;
}

.Main-title {
  margin-top: 0;
}

.Main p:first-of-type {
  margin-top: 0;
}

/**
 * Navigation
 */

.Navigation {
 background-color: #f7f7f7;
 border-bottom: 1px solid #e5e5e5;
 padding-top: 15px;
 left: 0;
 top: 0;
 width: 100%;
}

.Navigation-photoContainer {
  text-align: center;
}

.Navigation-profilePhoto {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.Navigation-head {
  text-align: center;
}

.Navigation-name {
  display:block;
}

/**
 * Icons
 */

.Icon {
  display: inline-block;
  text-indent: -9999px;
  width: 26px;
  height: 26px;
  background-position: center center;
  background-size: contain;
}

.Icon:hover {
  opacity: 0.6;
}

.Icon--github {
  background-image: url('./icons/GitHub-Mark-32px.png');
}

.Icon--twitter {
  background-image: url('./icons/Twitter-mark.png');
}

/**
 * Media Queries
 */

@media (min-width: 0px) {
  html {
    font-size: 16px;
  }

  .Navigation {
    text-align: center;
  }

  .Navigation-list {
    padding:0;
  }
}


@media (min-width: 420px) {
  html {
    font-size: 16px;
  }

  .Navigation {
    border-bottom: 1px solid #e5e5e5;
  }
}

@media only screen and (min-width: 800px) {
  html {
    font-size: 18px;
  }

  .Container {
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
  }

  .Main {
    flex: 1;
  }

  .Navigation {
    -ms-flex: 0 100px;
    -webkit-box-flex:  0;
    -moz-box-flex:  0;
    -ms-box-flex:  0;
    box-flex:  0;
    flex: 1;
    max-width: 225px;
    text-align: left;
    border-right: 1px solid #e5e5e5;
  }
}

@media (min-width: 1300px) {
  html {
    font-size: 20px;
  }
}
